body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.file-custom:after {
    content: attr(data-content);
}


    .input-default-js{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}
    .input-default-js + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    color: #000;
}

.input-default-js:focus + label {
    border-color: #80bdff;
    outline: 0 ;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.15);
}
.input-default-js + label {
    border: 1px solid rgba(33, 47, 41, .2);
    background-color: transparent;
    padding: 0;
}

.input-default-js + label span{
    padding: 0.425rem .7rem;
    color: #495057;
}

.input-default-js + label span:not(.span-browse) {
    width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.input-default-js + label .span-browse {
    height: 100%;
    color: #000;
    background-color: #E8EBEF;
    border-left: 1px solid rgba(33, 47, 41, .2);
    display: inline-block;
    padding: 0.425rem .8rem;
    color: #495057;
}

@media screen and (max-width: 50em) {
  .input-default-js + label .span-browse {
    display: block;
  }
}

.label-for-default-js{
  width: 100%;
  height: calc(2.25rem + 2px);
}







