{% extends "layout.html" %}
{% block content %}
<div class ="content-section">
    <fieldset class="form-group">
				<legend class="border-bottom mb-4">User-Defined Parameters</legend>
				<P> Please select desired thresholds for your Phosphoproteomics Data Analaysis</P>
			<form id="P-Value" action="" method="POST" enctype="multipart/form-data">
                <label class="form-group" for= ""><b> P-Value Threshold: <i>(0.05 or 0.01) </b></label>

				  <select class="custom-select" id="inputGroupSelect02" id="" name=""required/>
				    <option selected>Choose...</option>
				    <option value="1">0.01</option>
				    <option value="2">0.05</option>
				  </select>
				</div>

           </form>
</fieldset>              
        
</div>


{% endblock content %}}