{% extends "layout.html" %}
{% block content %}
<div class ="content-section">
	<form method = "POST">
    <fieldset class="form-group">
				<legend class="border-bottom mb-4">User-Defined Parameters</legend>
				<P> Please select desired thresholds for your Phosphoproteomics Data Analaysis</P>

               	<div class="form-group">
                    {{ form.PValue.label(class="form-control-label") }}
                     {{ form.PValue(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.csrf_token }}
                    {{ form.Coefficience.label(class="form-control-label") }}
                     {{ form.Coefficience(class="form-control form-control-lg") }}
                </div>
              	<div class="form-group">
                    {{ form.Fold.label(class="form-control-label") }}
                     {{ form.Fold(class="form-control form-control-lg") }}
                </div>
              
		</fieldset>              
		<div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
	</form>        
</div>



{% endblock content %}}