{% extends "layout.html" %}
{% block content %}
  <div class ="content-section">
    <fieldset class="form-group">
				<legend class="border-bottom mb-4">Upload Your Phosphoproteomics Data</legend>
				<P> Once you have upload your data, we will then require you to select defined parameters  </P>
				
			<form action="/upload" method="POST" enctype="multipart/form-data">
		      <input type=file  id="InputFile" name="InputFile">
		      <input type=submit value=Upload class="btn btn-outline-info">
  
					  
		  	</form>

		  	    <div class="border-top pt-1">
                            <small class="text-muted"> Need Guidance  ? <a class="ml-2" href="{{ url_for('Help') }}">Refer to our Help section</a>
                             </small>
    </div>
{% endblock content %}



		