{% extends "layout.html" %}
{% block content %}
<div class ="content-section">
        <legend class="border-bottom mb-4">{{Individual_Inhibitor["inhibitor_name"]}}</legend>

<table class="table table-hover">
      <tr>
        <th scope="row">Inhibitor</th>
        <td>{{Individual_Inhibitor["inhibitor_name"]}}</td>
      </tr>
      <th scope="row">Chembl ID</th>
        <td> <a href="https://www.ebi.ac.uk/chembl/compound_report_card/CHEMBL1173655/" target="_blank">{{Individual_Inhibitor["chembl_id"]}}</a></td>
      </tr>
      <tr>
        <th scope="row">Molecular Weight</th>
        <td>{{Individual_Inhibitor["molecular_weight"]}}</td>
      </tr>
      <tr>
        <th scope="row">Smiles</th>
        <td>{{Individual_Inhibitor['smiles']}} </td>
      </tr>
       <th scope="row">Inchi</th>
        <td>{{Individual_Inhibitor['inchi']}} </td>
      <tr>
      <th scope="row">Image</th>
        <td><img src="{{Individual_Inhibitor['images_url']}}" height="200" width="300"></td>
      </tr>
      <th scope="row">Inhibitor Aliases</th>
        <td>{{", ".join(Individual_Inhibitor['inhibitor_aliases'])}} </td>
      </tr>
       <th scope="row">Gene Name</th>
        <td> {% for dict_item in Individual_Inhibitor['kinases'] %}
                  {{dict_item['gene_name']}} 
                {% endfor %} </td>
      </tr>
       <th scope="row">Gene Alias</th>
        <td>{{ ", ".join (Individual_Inhibitor['kinases'][0]['gene_alias'])}} </td>
      </tr>
	
    </table>

{% for dict_item in Individual_Inhibitor['kinases'] %}
{{dict_item['gene_name']}}
  {% endfor %}






{% endblock content %}

