{% extends "layout.html" %}
{% block content %}



<div class ="content-section">
        <legend class="border-bottom mb-4">{{Information["gene_name"]}}</legend>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#BI">Background Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#PS">Phosphorylation Sites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#GW">Protein Browser</a>
  </li>
</ul>
<p> </p>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="BI">
    
    <table class="table table-hover">
      <tr>
        <th scope="row">Protein Name</th>
        <td>{{Information["protein_name"]}}</td>
      </tr>
      <tr>
        <th scope="row">Uniprot Number</th>
        <td> <a target="_blank" href="https://www.uniprot.org/uniprot/{{Information['uniprot_entry']}}">{{Information["uniprot_number"]}}</td>
      </tr>
      <tr>
        <th scope="row">Uniprot Entry</th>
        <td>{{Information["uniprot_entry"]}}</td>
      </tr>
      <tr>
        <th scope="row">Gene Name</th>
        <td>{{Information["gene_name"]}}</td>
      </tr>
      <tr>
        <th scope="row">Kinase Family</th>
        <td>{{Information["kinase_family"]}}</td>
      </tr>
      <tr>
        <th scope="row">Gene Aliases</th>
        <td>{{",  ".join(Information["gene_aliases"])}}</td>
      </tr>
      <tr>
        <th scope="row"> Subcellular Location</th>
        <td>{{",  ".join(subcellular_location["Subcellular_Locations"])}}</td>
      </tr>
       <th scope="row">Inhibitor</th>
        <td>{{",  ".join(Inhibitor)}}</td>
      </tr>
       
    </table>





  </div>
  <div class="tab-pane container fade" id="PS">

   <table class="table table-hover">
           <tr>
            <th id="sub" rowspan="2">Substrate</th>
            <th id="phos" rowspan="2">Phosphosite </th>
            <th colspan="5" scope="colgroup">Genomic Location</th>
           </tr>   
           <tr>
            <th id="chr" >Chr</th>
            <th id="kar" >Karyotype</th>
            <th id="str" >Strand</th>
            <th id="start" >Start Position</th>
            <th id="end" >End Position</th>
           </tr>
          
            {% for key, value in substrate_phosphosites.items() %}
            {%for item in value%}
            <tr>
            <td headers="sub"><a href= "/Phosphosite_result/{{key}}">{{key}} </a></td>
           
            <td headers="phos">{{item["phosphosite"]}}</td>
            <td headers="chr">{{item["chromosome"]}}</td>
            <td headers="kar">{{item["karyotype_band"]}}</td>
            <td headers="str">{{item["strand"]}}</td>
            <td headers="start" >{{item["start_position"]}}</td>
            <td headers="end">{{item["end_position"]}}</td>
            </tr>

          {% endfor %}
           {% endfor %}
    </table>




  </div>
  <div class="tab-pane container fade" id="GW">
    
    <script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script> <!-- protvista script source -->
    <link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/> <!-- protvista CSS -->

      <!-- Kinase Annotation -->
    <section id="annot" class="tab-panel">
      <!-- Provista javascript -->
      <div id="yourDiv" style="width:800; margin :auto;"></div>
      <center><script>
          window.onload = function() {
              var yourDiv = document.getElementById('yourDiv');
              var ProtVista = require('ProtVista');
              var instance = new ProtVista({
                  el: yourDiv,
                  uniprotacc: '{{Information["uniprot_number"]}}',

                  //These categories will **not** be rendered.
                  exclusions: ['SEQUENCE_INFORMATION', 'STRUCTURAL', 'TOPOLOGY', 'MUTAGENESIS', 'MOLECULE_PROCESSING']
              });
          }
      </script></center>
    </section>




  </div>
          



</div>

          
{% endblock content %}}


