{% extends "layout.html" %}
{% block content %}
<div class ="content-section">
        <legend class="border-bottom mb-4">Search for Inhibitors
</legend>





<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Name, ID or Target...">

<table id="myTable" class="table table-hover table-bordered table-sm">

  <tr>
     
     <th> Inhibitors </th>
     <th> Chembl ID </th>
     <th> Inhibitor Aliases </th>
     <th> Target </th>
  </tr>

  {% for dict_item in ALL_inhibitors %}
  <tr>
     <td> <a href = "/Inhibitors/{{dict_item['inhibitor_name']}}">{{ dict_item['inhibitor_name'] }}</a></td>
     <td> {{ dict_item['chembl_id'] }}</td>
     <td> {{",  ".join (dict_item['inhibitor_aliases']) }}</td>
     <td> {{ dict_item['kinases'][0]['gene_name'] }}</td>
 
  </tr>
  {% endfor %}



  <script>
  // function used in the table to filter via user search 
  function myFunction() {
      // Declare variables 
      var input, filter, table, tr, td, i, occurrence;

      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

     // loops through all the rows
     for (i = 0; i < tr.length; i++) {
         occurrence = false; 
         td = tr[i].getElementsByTagName("td"); //search through all the values
         for(var j=0; j< td.length; j++){                
             currentTd = td[j];
             if (currentTd ) {
                 if (currentTd.innerHTML.toUpperCase().indexOf(filter) > -1) {
                     tr[i].style.display = "";
                     occurrence = true;
                 } 
             }
         }
         if(!occurrence){
             tr[i].style.display = "none";
         } 
     }
   }

</script>
</table>

{% endblock content %}
