{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<h1>List of Inhibitors</h1>
<p>List of Inhibitors.</p>
</head>
<style>
tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<table id="myTable" class="table table-hover table-bordered table-sm" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Inhibitor
      </th>
      <th class="th-sm">Target
      </th>
      <th class="th-sm">Molecular Weight
      </th>
      <th class="th-sm">Emperical Formula 
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GSK650394A</td>
      <td>SGK1</td>
      <td>382.45</td>
      <td>C25H22N2O2</td>
    </tr>
    <tr>
      <td>Oxo OXO</td>
      <td>Accountant</td>
      <td>Tokyo</td>
      <td>63</td>
    </tr>
    <tr>
      <td>Ashton Cox</td>
      <td>Junior Technical Author</td>
      <td>San Francisco</td>
      <td>66</td>
    </tr>
    <tr>
      <td>Cedric Kelly</td>
      <td>Senior Javascript Developer</td>
      <td>Edinburgh</td>
      <td>22</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Inhibitor
      </th>
      <th>Target
      </th>
      <th>Molecular Weight
      </th>
      <th>Emperical Formula
      </th>
    </tr>
  </tfoot>
    <script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</table>
{% endblock content %}
