{% extends "layout.html" %}
{% block content %}
 

<body>
  <legend class="border-bottom mb-4">Phosphosite search by location </legend>
        <form method = "POST">
            <div class="form-group">
   
                   {{ Phospho_form.csrf_token }}
                    {{ Phospho_form.chromosome.label(class="form-control-label") }}
                     {{ Phospho_form.chromosome(class="form-control form-control-lg") }}

                    {{ Phospho_form.karyotype.label(class="form-control-label") }}
                     {{ Phospho_form.karyotype(class="form-control form-control-lg") }}

                       {% if Phospho_form.errors %}
                        {{ Phospho_form.errors }}
                        {% endif %}
                </div>        
              <div class="form-group">
               {{ Phospho_form.submit_for_position(class="btn btn-outline-info") }} 
        </form> 
        

             <form  method = "POST">
              <div class="form-group">
                        {{ Position_form.csrf_token }}
                     {{ Position_form.position.label(class="form-control-label") }}
                     {{ Position_form.position(class="form-control form-control-lg") }}
               
                      {% if Position_form.errors %}
                        {{ Position_form.errors }}
                        {% endif %}

                  </div>
                <div class="form-group">
                       {{ Position_form.submit(class="btn btn-outline-info") }}  
                </form> 
    
    <div class="border-top pt-1">
                            <small class="text-muted"> Need Guidance  ? <a class="ml-2" href="{{ url_for('Help') }}">Refer to our Help section</a>
                             </small>
    </div>


      <form method = "POST">
        <div class="form-group">
                      {{ Substrate_form.csrf_token }}
                    {{ Substrate_form.search.label(class="form-control-label") }}
                     {{ Substrate_form.search(class="form-control form-control-lg") }}

                       {% if Substrate_form.errors %}
                        {{ Substrate_form.errors }}
                        {% endif %}
                </div>

    <div class="form-group">
                {{ Substrate_form.submit_substrate(class="btn btn-outline-info") }}
      </div>

    </form>

   </body> 

       <script>
          let chromosome_select = document.getElementById('chromosome');
          let karyotype_select = document.getElementById('karyotype');

          chromosome_select.onchange = function() {
            chromosome = chromosome_select.value;
            
            fetch('/karyotype/' + chromosome). then(function(response) {
              response.json().then(function(data) {
                  let optionHTML = '';

                for (let karyotype of data.karyotypes) {
                  optionHTML += '<option value=" ' + karyotype[0]+ '">' + karyotype[1] + '</option>';
                }

                karyotype_select.innerHTML = optionHTML; 

              });
            });
          }
        </script> 


{% endblock content %}


